<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KACAHT_Next2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KACAHT_Next2.My.MySettings>
            <setting name="NachPeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="KonPeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeMode" serializeAs="String">
                <value>From00To2359</value>
            </setting>
            <setting name="DataFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="nachOLDPeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="konOLDPeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftPanelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KasantLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="KasantPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DocFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ParcerTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParcerLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CentralLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="CentralPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ParcerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParcerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParcerWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowExperimentalButtons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldYJSON" serializeAs="String">
                <value />
            </setting>
            <setting name="THISYJSON" serializeAs="String">
                <value />
            </setting>
            <setting name="SetsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkFileName" serializeAs="String">
                <value>"РабочийФайл"</value>
            </setting>
        </KACAHT_Next2.My.MySettings>
    </userSettings>
</configuration>
